.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    overflow-y: scroll;
    background-image: linear-gradient(to right, #061421, rgb(6, 71, 71))
}

.close__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 50px !important;
    margin-top: 10px ;
}

.close__button:hover {
    color: red;
}

.results__wentWrong{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60%;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: scale(0);
    transition: all 230ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: scale(0);
}

.results__modal--description {
    color: white;
    margin: 10px 154px 20px 7vw;
}

.results__modal--description > h1 {
    font-size: 30px;
    font-weight: 800 ;
}

.results__modal--description > p {
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 20px;
}   